{
  "extends": ["plugin:prettier/recommended", "eslint:recommended"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "error",
    "strict": ["error", "global"],
    "curly": "warn",
    "no-undef": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-no-undef": "error",
    "react/react-in-jsx-scope": "error"


  },
  "globals": {
    "__BROWSER__":true,
    "__NODE__": true
  }
}
