<html>

<head>
  <title>SSR with RR</title>
  <link rel="stylesheet" href={{manifest['main.css']}}>
</head>

<body>
  <div id="root">{{markup|safe}}</div>
</body>
<script>window.__INITIAL_STATE__ = {{serialize(initial_state)|safe}}</script>
<script src={{manifest['main.js']}}></script>
</html>